body {
    background-color: #d3e0d3;
}

.header{
    position: fixed;
    width: 100%;
}

.container1 {
    text-align: center;
}

.titulo {
    font-size: 2em;
    margin: 5px;
    /* background-color: #1a8ee760; */
    background: linear-gradient(90deg, #58abec60, #58acecb9,#1a8ee7ee, #58acecb9, #58abec60);
    position: relative;
    text-align: center;
    cursor: pointer;
}

.tituloCambio{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.titulo:hover .tituloOriginal {
    opacity: 0;
} 

.titulo:hover .tituloCambio{
    opacity: 1;
}

.submenu ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #cdd1d479;
    margin: 5px;
}

.submenu li {
    margin: 0 50px;
}

.submenu a {
    text-decoration: none;
    color: #444242;
    font-size: 1em;
}

.submenu a:hover {
    color: #04a6f7;
}
