
body {
    background-color: #fff;
    height: 4800px;
}

header{
    position: fixed;
    width: 100%;
}

.mainContainer{
    height: 100%;
    width: 80%;
    display: grid;
    grid-template-rows: repeat(8, 600px);
    margin-left: 10%;
    margin-right: 10%;
}

.container1 {
    text-align: center;
    margin-bottom: 10px;
}

.titleContainer {
    font-size: 1.5em;
    margin: 5px;
    background: linear-gradient(90deg, #58abec60, #58acecb9,#1a8ee7ee, #58acecb9, #58abec60);
    position: relative;
    text-align: center;
    cursor: pointer;
}

.changeTitle{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s ease;
    color: darkblue;
}

.titleContainer:hover .originalTitle {
    opacity: 0;
} 

.titleContainer:hover .changeTitle{
    opacity: 1;
}

.submenu ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #cdd1d479;
    margin: 5px;
}

.submenu li {
    margin: 0 50px;
}

.submenu a {
    text-decoration: none;
    color: #444242;
    font-size: 1em;
}

.submenu a:hover {
    color: #04a6f7;
}

/* COLORES BGC SECTION
--color1 { #e7f0f6 };
--color2 { #b7d3e5 };
 */

.sectionDescription{
    padding: 70px 2% 1%;
    background-color: #e7f0f6;
}

.sectionPrice{
    background-color: #b7d3e5;
    padding: 1% 2% 1%;
}

.sectionServices{
    background-color: #e7f0f6;
    padding: 1% 2% 1%;
}

.sectionGallery{
    background-color: #b7d3e5;
    padding: 1% 2% 1%;
}

.sectionTestimony{
    background-color: #e7f0f6;
    padding: 1% 2% 1%;
}

.sectionOne{
    background-color: #b7d3e5;
    padding: 1% 2% 1%;
}

.sectionTwo{
    background-color: #e7f0f6;
    padding: 1% 2% 1%;
}

.sectionThree{
    background-color: #b7d3e5;
    padding: 1% 2% 2%;
}


@media (max-width: 742px){

    .sectionDescription{
        padding: 80px 2% 2%;
        background-color: #e7f0f6;
    }
    

}