a {
  text-decoration: none;
  color: #eee;
}

.carousel {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin-top: -20px;
  position: relative;
}

.carousel .list .item {
  position: absolute;
  inset: 0 0 0 0;
}

.carousel .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .list .item .content {
  position: absolute;
  width: 100%;
  padding: 10px 0 10px 150px;
  top: 20%;
  left: 40%;
  transform: translateX(-40%);
  padding-right: 50%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
  background: rgba(0, 0, 0, 0.432);
}

.carousel .list .item .content .author {
  font-weight: bold;
  color: rgba(5, 196, 174, 0.986);
  letter-spacing: 5px;
}

.carousel .list .item .content .title {
  font-weight: bold;
  font-size: 3em;
  color: rgba(5, 196, 174, 0.986);
  text-shadow: 2px 2px 3px #2c3e50;
}

.carousel .list .item .content .topic {
  font-weight: bold;
  font-size: 1.5em;
}

.carousel .list .item .content .topic {
  color: #ffffff;
}

.carousel .list .item .content .desc {
  margin-top: 15px;
  color: white;
  font-size: 1.2em;
}

.carousel .list .item .content .buttons {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}

.carousel .list .item .content button {
  border: none;
  background-color: #eee;
  letter-spacing: 3px;
  font-family: Poppins;
  font-weight: 500;
}

.carousel .list .item .content button:nth-child(2) {
  background-color: transparent;
  color: #eee;
  border: 1px solid #eee;
}

.thumbnail {
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}

.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.thumbnail .item .content {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.thumbnail .item .content .title {
  font-weight: bold;
  color: rgb(250, 252, 253);
  text-shadow: 2px 2px 2px rgb(7, 98, 158);
  background-color: #63636373;
  border-radius: 7%;
  text-align: center;
}

.arrows {
  position: absolute;
  top: 80%;
  right: 52%;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 25px;
  align-items: center;
}

.arrows button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  font-family: monospace;
  color: #fff;
  border: 3px solid #ffffff;
  font-weight: bold;
  font-size: larger;
  transition: 0.2s ease-in-out;
  z-index: 100;
}

.arrows button:hover {
  background-color: rgba(5, 196, 174, 0.986);
  border: 2px solid white;
  color: black;
  font-weight: bolder;
  /* padding: 10px; */
  cursor: pointer;
}

.carousel .list .item:nth-child(1) {
  z-index: 1;
}

.carousel .list .item:nth-child(1) .author,
.carousel .list .item:nth-child(1) .title,
.carousel .list .item:nth-child(1) .topic,
.carousel .list .item:nth-child(1) .desc {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s linear 1 forwards;
}

@keyframes showContent {
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

.carousel .list .item:nth-child(1) .title {
  animation-delay: 0.7s;
}

.carousel .list .item:nth-child(1) .topic {
  animation-delay: 1s;
}

.carousel .list .item:nth-child(1) .desc {
  animation-delay: 1.6s;
}

.carousel.next .list .item:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  left: 50%;
  bottom: 50px;
  border-radius: 20px;
  animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage {
  to {
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0;
  }
}

.carousel.next .thumbnail .item:nth-last-child(1) {
  width: 0;
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}

@keyframes showThumbnail {
  to {
    width: 150px;
  }
}

.carousel.next .thumbnail {
  transform: translateX(150px);
  animation: transformThumbnail 0.5s linear 1 forwards;
}

@keyframes transformThumbnail {
  to {
    transform: translateX(0);
  }
}

.carousel.prev .list .item:nth-child(2) {
  z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img {
  position: absolute;
  bottom: 0;
  left: 0;
  animation: outImage 0.5s linear 1 forwards;
}

@keyframes outImage {
  to {
    width: 150px;
    height: 220px;
    border-radius: 20px;
    left: 50%;
    bottom: 50px;
  }
}

.carousel.prev .thumbnail .item:nth-child(1) {
  width: 0;
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s linear 1 forwards;
}

.carousel.prev .list .item:nth-child(2) .author,
.carousel.prev .list .item:nth-child(2) .title,
.carousel.prev .list .item:nth-child(2) .topic,
.carousel.prev .list .item:nth-child(2) .desc,
.carousel.prev .list .item:nth-child(2) .buttons {
  animation: contentOut 1.5s linear 1 forwards;
}

@keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}

@media screen and (max-width: 678px) {
  .carousel .list .item .content {
    padding-right: 0;
  }
  .carousel .list .item .content .title {
    font-size: 30px;
  }
}
