/* UNIVERSAL */

body {
  height: auto;
  width: 100%;
  overflow-y: scroll;
}

.mainContainer {
  height: 100%;
  width: 100%;
  display: grid;
}

.iconos {
  width: 32px;
  height: 32px;
}

/* @MEDIA */

@media (max-width: 742px) {
  .sectionDescription {
    padding: 80px 2% 2%;
    background-color: #e7f0f6;
  }
}