/* UNIVERSAL */

body {
  height: auto;
}

.mainContainer {
  height: 100%;
  width: 100%;
  display: grid;
}

.submenu ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #cdd1d4;
  margin: 5px;
}

.submenu li {
  margin: 0 50px;
}

.submenu a {
  text-decoration: none;
  color: #444242;
  font-size: 1em;
}

.submenu a:hover {
  color: #0f3477;
}

.iconos {
  width: 32px;
  height: 32px;
}

/* @MEDIA */

@media (max-width: 742px) {
  .sectionDescription {
    padding: 80px 2% 2%;
    background-color: #e7f0f6;
  }
}