/* INICIO FOOTER*/

.footer {
    padding: 50px 10% 50px 10%;
    background-color: rgba(1, 76, 67, 0.986);
}

/* Primera fila: logo y texto */
.logoEspacio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    padding-right: 25%;
}

.logoFooter img {
    height: 120px;
    width: 120px;
}

.textosFooter {
    font-size: 26px;
    font-weight: bold;
    text-align: left;
}

/* Segunda fila: 4 columnas en una fila */
.fila2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.seccionesFooter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Permite que las columnas se adapten si la pantalla es pequeña */
    width: 100%;
}

.seccionesFooter > div {
    flex: 1;
    margin: 0 10px; /* Espacio entre columnas */
}

.linksRapidos, .recursos, .legal, .redes {
    text-align: left;
    text-decoration: underline;
    color: white;
}

.redes img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

/* Botón de suscripción */
.buttonInformation2 {
    display: inline-block;
    width: 150px;
    padding: 12px;
    background-color: #ffffff;
    box-shadow: 2px 2px 3px 0px rgba(75, 202, 252, 0.712);
    text-decoration: none;
    color: black;
    border-radius: 100px;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    margin: auto;
}

.buttonInformation2:hover {
    background-color: #b7d3e5;
    box-shadow: 3px 3px 5px 0px #256dba;
    color: rgb(0, 0, 0);
    transition: 0.7s;
    /* transform: scale(1.1, 1.1); */
    /* transform: 0.5s ease; */
    transform: rotate(360deg);
}

.buttonInformation3 {
    display: inline-block;
    width: 150px;
    padding: 12px;
    background-color: #ffffff;
    box-shadow: 2px 2px 3px 0px rgba(75, 202, 252, 0.712);
    text-decoration: none;
    color: black;
    border-radius: 100px;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    margin: 5px 0 0;
}

.buttonInformation3:hover {
    background-color: #b7d3e5;
    box-shadow: 3px 3px 5px 0px #7b7a7c;
    color: rgb(0, 0, 0);
    transition: 0.7s;
    transform: scale(1.1, 1.1); 
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .seccionesFooter {
        flex-direction: column;
    }

    .seccionesFooter > div {
        margin-bottom: 20px;
    }
}

/* Tercera fila: Texto centrado */
.fila3 p {
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}

/* FIN FOOTER*/