body {
    height: 1000px;
    width: 100%;
}

/* INICIO HEADER */

header {
    width: 80%;
    z-index: 1000;
    height: 80px;
}

.container1 {
    text-align: center;
    margin-bottom: 10px;
    height: inherit;
    background-color: #611d99;
}

.titleContainer {
    font-size: 2em;
    justify-content: center;
    height: 100%;
    align-items: center;
    display: flex;
    color: white;
    margin: 0;
}

.submenu ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #cdd1d4;
    margin: 5px;
  }
  
  .submenu li {
    margin: 0 50px;
  }
  
  .submenu a {
    text-decoration: none;
    color: #444242;
    font-size: 1em;
  }
  
  .submenu a:hover {
    color: #0f3477;
  }
  
/* FIN HEADER */

/* INICIO BODY */

.cuadricula {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    margin: 50px 10%;
}

.divGaleria {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.divGaleria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1.5px solid mediumpurple;
    border-radius: 10px;
}

.textoHover {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #1a8ee7ee;
    width: 100%;
    height: 70%;
    margin: 30% 0 0 0;
    transition: 0.5s ease; 
    opacity: 0;
}

.divGaleria:hover .textoHover{
    opacity: 1;
}

.simboloZoom{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1% 1%;
    padding: 2%;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    background-color: #1a8ee7ee;
    cursor: zoom-in;
    opacity: 0;
}

.divGaleria:hover .simboloZoom{
    opacity: 1;
}

.zoom{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.37);
    justify-content: center;
}

.zoomContenido{
    max-width: 90%;
    max-height: 90%;
    margin: 5% 20%;
}

.zoomContenido img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cerrar {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: black;
    cursor: pointer;
}

/* FIN BODY */

