header {
    width: 100%;
    z-index: 1000;
}

.container1 {
    text-align: center;
    margin-bottom: 10px;
}

.titleContainer {
    font-size: 1.5em;
    margin: 5px;
    background: transparent;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.changeTitle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s ease;
    color: darkblue;
}

.titleContainer:hover .originalTitle {
    opacity: 0;
}

.titleContainer:hover .changeTitle {
    opacity: 1;
}

.submenu ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #cdd1d479;
    margin: 5px;
}

.submenu li {
    margin: 0 50px;
}

.submenu a {
    text-decoration: none;
    color: #444242;
    font-size: 1em;
}

.submenu a:hover {
    color: #04a6f7;
}

.iconos {
    width: 32px;
    height: 32px;
}


/* Producttos*/

h1 {
    text-align: center;
}

.container {
    display: flex; /* Utiliza flexbox para las columnas */
    flex-wrap: wrap; /* Permitir el ajuste de columnas */
}

.categorias-container {
    flex: 1; /* Columna para categorías y productos */
    padding-right: 20px; /* Espaciado entre las columnas */
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.categoria-btn {
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    width: 200px;
    text-align: left;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categoria-btn:focus {
    outline: none;
}

.items-list {
    display: none;
    margin-left: 20px;
}

.items-list li {
    margin: 5px 0;
    font-size: 14px;
    cursor: pointer;
}

.items-list li:hover {
    color: #6200ea;
}

.flechaDesplegable {
    font-size: 18px;
    margin-right: 10px;
}

/* Estilo para el área de productos */
.productos-info {
    width: 80%;
    height: 1000px;
    flex: 3; /* Columna para detalles de productos */
    display: flex;
    flex-wrap: wrap; /* Permitir ajuste para detalles de productos */
    margin-left: 20px; /* Espaciado entre las columnas */
    /*border: 1px solid #04a6f7; */
}

.producto-detalle {
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    padding: 15px;
    margin: 10px;
    flex: 1 1 calc(30% - 20px); /* Ajustar el ancho para 3 productos en una fila */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegurar que los elementos se distribuyan uniformemente */
    height: 350px; /* Altura fija para uniformidad */
}

.producto-imagen {
    width: 100%; /* Imagen ocupa el 100% del ancho del contenedor */
    height: 300px; /* Establecer altura fija para imágenes */
    object-fit: cover; /* Ajustar la imagen para que cubra el contenedor sin distorsionarse */
    margin: 10px 0;
}

.hidden {
    display: none; /* Ocultar inicialmente */
}