header {
    width: 100%;
    z-index: 1000;
}

.container1 {
    text-align: center;
    margin-bottom: 10px;
}

.titleContainer {
    font-size: 1.5em;
    margin: 5px;
    background: linear-gradient(90deg, #58abec60, #58acecb9, #1a8ee7ee, #58acecb9, #58abec60);
    position: relative;
    text-align: center;
    cursor: pointer;
}

.changeTitle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s ease;
    color: darkblue;
}

.titleContainer:hover .originalTitle {
    opacity: 0;
}

.titleContainer:hover .changeTitle {
    opacity: 1;
}

.submenu ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #cdd1d479;
    margin: 5px;
}

.submenu li {
    margin: 0 50px;
}

.submenu a {
    text-decoration: none;
    color: #444242;
    font-size: 1em;
}

.submenu a:hover {
    color: #04a6f7;
}

.iconos {
    width: 32px;
    height: 32px;
}

/*Comercio*/

#comercio{
    padding: 0 12%;
}

#menu {
    /* border: solid black 1px; */
    width: 15%;
    height: 500px;
    float: left;
    position: sticky;
    top: 10%;
}

#principal{
    /*border: solid blue 1px;*/
    width: 80%;
    height: 2000px;
    margin: 0 0 0 20%;
}

.productos{
    display: grid;
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: repeat(2, 50px 85%);
    column-gap: 7px;
    width: 99%;
    height: 400px;
    /*border: solid red 1px;*/
}

.titulos{
    /*border: solid black 1px;*/
    grid-column: 1/5;
    width: 100%;
    height: 40px;
    margin: 2px 0;
}

.articulos{
    display: grid;
    border: solid #04a6f7 1px;
    border-radius: 10px;
    grid-template-rows: repeat(2, 45% 55%);
}

#cortina1{
    background-image: url("C:/Users/kelly/Documents/DOFI/assets/IMAGES/cortina.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#cortina1:hover{
    background-image: url("C:/Users/kelly/Documents/DOFI/assets/IMAGES/cortinaHover.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#iluminacion1{
    background-image: url("C:/Users/kelly/Documents/DOFI/assets/IMAGES/iluminacion.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}

#iluminacion1:hover{
    background-image: url("C:/Users/kelly/Documents/DOFI/assets/IMAGES/iluminacionHover.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}
#cortina2{
    background-image: url("/IMAGES/cortina.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#cortina2:hover{
    background-image: url("/IMAGES/cortinaHover.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#iluminacion2{
    background-image: url("/IMAGES/iluminacion.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}

#iluminacion2:hover{
    background-image: url("/IMAGES/iluminacionHover.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}
#cortina3{
    background-image: url("/IMAGES/cortina.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#cortina3:hover{
    background-image: url("/IMAGES/cortinaHover.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#iluminacion3{
    background-image: url("/IMAGES/iluminacion.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}

#iluminacion3:hover{
    background-image: url("/IMAGES/iluminacionHover.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}
#cortina4{
    background-image: url("/IMAGES/cortina.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#cortina4:hover{
    background-image: url("/IMAGES/cortinaHover.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#iluminacion4{
    background-image: url("/IMAGES/iluminacion.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}

#iluminacion4:hover{
    background-image: url("/IMAGES/iluminacionHover.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}

@media (max-width: 768px) {
    .submenu ul {
        display: flex;
        flex-wrap: wrap;
    }
    
       #comercio{
        padding: 0;
    }
    
    .productos{
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }

    .titulos{
        font-size: 20px;
    }

    .articulos{
        height: 18 0px;
    }
}
