header {
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.container1 {
  text-align: center;
  margin-bottom: 10px;
}

.titleContainer {
  font-size: 1.7em;
  margin: 5px;
  background: white; /* modificar color a gusto */
  position: relative;
  text-align: center;
  cursor: pointer;
}

.submenu {
  height: 20px;
  font-size: 1.3em;
}

.submenu ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(5, 196, 174, 0.986);
  margin: 5px;
}

.submenu li {
  margin: 0 50px;
}

.submenu a {
  text-decoration: none;
  color: #444242;
  font-size: 1em;
}

.submenu a:hover {
  color: #2156b8;
  text-decoration: underline;
}

.originalTitle {
  color: black;
}
.changeTitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.5s ease;
  color: black;
}

.titleContainer:hover .originalTitle {
  opacity: 0;
}

.titleContainer:hover .changeTitle {
  opacity: 1;
}

@media (max-width: 768px) {
  .submenu ul {
    display: flex;
    flex-wrap: wrap;
  }
}
